body {
  display: grid;
  grid-template-columns: 65% 35%;
  grid-template-rows: 100%;
}

.toggle-password {
  position: absolute;
  float: right;
  z-index: 2;
  color: white;
  margin-left: -3vw;
  margin-top: 2.5vh;
}

#sidebar {
  height: 100%;
  background: #20df7f;
}

#loginDiv {
  margin: auto;
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50%;
}

#loginDiv * {
  margin: 18px 0px;
}

main {
  display: grid;
  grid-template-rows: 80% 20%;
}

#register{
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: space-around;
  margin: auto;
}

#register > :not(.gridForms) {
  margin: 18px 0px;
}

.gridForms {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

input {
  width: 350px;
}

.vectorsImage{
  margin-top: 5%;
}

#register img {
  margin: 0px 1vw;
}